body{
background-color: rgb(237,234,234);
}
.head{
   background-image: url("hot.jpg"); 
   background-size: cover;
   background-position: bottom;
   width: 100%;
   height: 90vh;
}
.logo{
    text-transform: uppercase;
    padding-top: 20px;
    font-size: x-large;
    color: blue;

}
h4{
    margin-right:50% ;
}
ul{
    display: flex;
    margin-left: 20%;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
    color: #f1f3f5;
    font-weight: bolder;
}

li a{
    text-decoration: none;
    color: #fff5f5;
}
.login{
    border: solid blue;
}
.sign{
    background-color: blue;
}
.bigbutton{
    display: flex;
    background-color: #fff5f5;
    border-radius: 25px;
    padding: 15px 20px;
    width: 50%;
    
}
.location{
    border-radius: 25px;
    padding: 5px 0px ;
    right: -10px;
}
.search{
    background-color: blue;
    padding: 15px 20px;
    border-radius: 25px;
}
.head-content{
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    margin-top: 5%;
}
.simple{
text-transform: uppercase;
color: #fff5f5;
margin-top: 25%;
font-size: large;
font-weight: bolder;
}
.simple1{
    font-size: 80%;
    color: #fff5f5;
    margin-top: 5%;
    font-size: xx-large;
    font-weight: bolder;
    
}
.hotel{
    color: blue;
}
.imag{
    display: flex;
}
.imag1{
    width: 90%;
    height: 90%
}
.button1{
    margin-top: 3%;
    margin-left: 40%;
    padding: 20px 50px;
}
h1{
    margin-left: 30%;
    text-transform: uppercase;
}
.images2{
    display: flex;
    width: 30%;
    height: 20%;
}
.images3{
    display: flex;

}
.image5{
    width: 30px;
    height: 20px;
}
.image6{
    display: flex;
    width: 80%;
    height: 60%;
    margin-left: 5%;
}
.house{
    width: 90%;
    height: 70%;
}
.Lorem{
    margin-left: 30%;
}
.head5{
    display: flex;
    gap: 3rem;
    margin-left: 40%;
    font-size: larger;
}
.book{
    background-color: blue;
    color: #fff5f5;
}
.line{
    background-color: blue;
    width: 80px;
    height: 5px;
    border-radius: 5px;
}
.foods{
    display: flex;
    width: 80%;
    height: 40%;
    margin-left: 7%;
}
.food{
    width: 95%;
    height: 80%;
}
.people{
    display: flex;
    justify-content: space-between;
}
.man{
    display: flex;
    width: 50%;
    height: 30%;
    justify-content: space-between;
}
.man2{
    width: 50%;
    height: 30%;
    padding: 10%;
    justify-content: space-between;
    border-radius: 200px;

}
.person{
    display: flex;
}
.general{
    display: flex;
    margin-right: 5%;
    width: 80%;
    height: 30%;
}
.one{
    width: 90%;
    height: 40%;
}
.two{
    display: flex;
}
.three{
    display: flex;
}
.four{
    display: flex;
}
.girlis{
    width: 90%;
    height: 70%;
}
.client{
    background-color: blue;
    color: #fff5f5;
    padding: 15px 35px;
    
}
.client1{
    display: flex;
    margin-left: 60%;
    gap: 3rem;
}
.box1{
    width: 500px;
    margin-left: 30%;
}
input{
 display: inline-block;
 font-size: 15px;
 box-sizing: border-box;
}
.placehold1{
    background-color: whitesmoke;
    width: 200px;
    height: 50px;
    border: none;
    padding: 0px 25px;
    outline: none;
    border-radius: 25px 0px 0px 25px;
}
.placehold2{
    position: relative;
    left: -5px;
    border-radius: 0px 25px 25px 0px;
    width: 120px;
    height: 50px;
    background-color: #a5d8ff;
    border: none;
    color: #fff5f5;
}
.place{
    background-color: blue;
    width: 100%;
    height: 30vh;
    border-radius: 25px 25px 25px 0px;
}
.paragraph{
    margin-left: 30%;
}
.nuro{
    text-transform: uppercase;
    font-weight: bolder;
}
.menu1{
    display: flex;
    justify-content: space-between;
}
.menu2{
    display: flex;
    justify-content: space-between;
}
.foot-inform{
    display: flex;
}

/* index1.html */
.headimages{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.pics{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
}
.waterhotel{
    width: 100%;
    height: 90%;
}
.insideimage{
    width: 80%;
    height: 50%;
}
img{
    width: 80%;
    height: 70%;
}
.star{
   display: flex;
   justify-content: space-between;
}
.buttonsee{
    padding: 18px 25px;
    background-color: blue;
}
.paragraph1{
      font-size: large;
}
.gilgit{
      font-size: xx-large;
}
.hoteldetails{
    display: flex;
}
li{
    list-style: none;
}
.food-facilities{
    margin-left: 40%;
    margin-top: 5%;
    background-color: #f1f3f5;
}
.foodd{
    font-size: x-large;
}
.hotel-description{
    margin-top: 5%;
}
.more{
    margin-left: 40%;
    background-color: rgb(237,234,234);
}
.more-icon{
    margin-right: 36%;
}
.detail-button{
    margin-top: 5%;
}
.buttonnow{
    padding: 18px 25px;
}
span{
    padding: 50px;
}
.learnmore{
    background-color: #f1f3f5;
    padding-right: 40%; 
}
.foot-inform{
    display: flex;
}
.learnmore{
    padding: 100px;
}
.foot-inform{
    display: flex;
    justify-content: space-between;
    background-color: #f1f3f5;
}
ion-icon{
    color: blue;
}
h2{
    text-transform: uppercase;
}
.button-more{
    border: solid blue;
    padding: 15px 30px;
}
.read{
    padding: 8px 28px;
}
.logo1{
    text-transform: uppercase;
}
.linking{
    color: blue;
}

/* about.html */
.hotel-story{
    display: flex;
}
.hotel-vision{
    display: flex;
}
.hotel-approach{
    display: flex;
}
.about-image1{
    width: 90%;
    height: 90%;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 40%;
}
.about-image2{
    width: 70%;
    height: 90%;
    border-bottom-left-radius: 40%;
    border-top-right-radius: 40%;
}
.about-image3{
    width: 70%;
    height: 90%;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 40%;
}
.learnmore{
    padding: 100px;
}
.foot-inform{
    display: flex;
    justify-content: space-between;
    background-color: #f1f3f5;
}
ion-icon{
    color: blue;
}
h2{
    text-transform: uppercase;
}
.button-more{
    border: solid blue;
    padding: 15px 30px;
}
.read{
    padding: 8px 28px;
}
.logo1{
    text-transform: uppercase;
}
.li-a{
    color: black;
}
/* table.html */

.Nav-body{
    text-align: center;
    margin-top: 8%;
}
.contact-us{
  font-size: 350%;
  text-transform: uppercase;
  color: black;
}
.love-help{
  font-size: xx-large;
}
.lorem-ipsum{
    font-size: x-large;
}
.table-content{
    padding: 49px;   
}
.love-icon{
    color: black;
}
.input-details{
 display: flex;
 padding: 30px;
 margin-top: 5%;
 
}
.box-details{
    padding: 15px 20%;
    font-size: large;
}
.summit-button{
    padding: 15px 40px;
    background-color: blue;
    margin-left: 5%;
    margin-top: 30px;
}
.message-details{
   padding: 100px  20%;
   border-radius: 10px 10px 100px 10px;
   font-size: x-large;
}
.body-footer{
    margin-top: 50px;
}
.input-box{
    display: flex;
}
.box-details1{
    margin-left: 16%;
    border: none;
    
}
.box-details{
    border-radius: 10px;
    
}
.message-box{
    margin-top: 5%;
}
input{
    background-color: #f1f3f5;
}

 @media screen and (max-width:768px){
.head{ 
 width: 100%; 
height:600px; 
}
.bigbutton{
        border-radius: 15px;
        padding: 5px 10px;
        width: 50%;
        flex-direction: column;
 }
.pic{
    width: 50%;
    height: 50%;
}
.client{
    padding: 5px 5px; 
    margin-right: 20%;
}
.client1{
    flex-direction: column;
    margin-right: 20%;
    
}
.foot{
    padding-left: 5px;
    margin-top: 20%;
}
footer{
    padding-left: 2px;
}
.What{
    margin-top: 80px;
    font-size: medium;
} 
.book{
    flex-direction: column;

}
.box1{
    margin-bottom: 40%;
}
.foods{
    margin-top: 30%;
}
.our{
    margin-top: 50%;
}
.head5{
    flex-direction: column; 
}
.food{
    flex-direction: column;
}
.book{
    flex-direction: column;
}
.image6{
    margin-top: 30%;
}
.Lorem{
    margin-right: 40%;
}
ul{
    margin-right: 40%;
}
.people{
    margin-top: 20%;
}
.what{
    margin-top: 40%;
}
.girlis{
    width: 80%;
    height: 40%;
}
.general{
    width: 80%;
    height: 50%;
}
.box1{
    margin-right: 60%;
    margin-bottom: 5%;
    padding: 3px 5px;
}
.login{
    margin-top: 40%;
    
}
.sign{
    margin-top: 40%;

}
ul{
    flex-direction: column;
    font-size: medium;
}
.imag{
 flex-direction: column;
 margin-top: 50%;
}
.button1{
    margin-right: 10%;
}
.image6{
    flex-direction: column;
}
.foods{
    flex-direction: column;
}
.two{
    flex-direction: column;
}
.three{
    flex-direction: column;
}
.four{
    flex-direction: column;
}
.foot-inform{
    flex-direction: column;
    margin-top: 50%;
}
.general{
    flex-direction: column;
}
.h1{
    font-size: small;
}
.placehold1{
   font-size: small;
    
}
.placehold2{
    font-size: small;
    margin-right: 50%;
}
.paragraph{
    font-size: small;
    margin-right: 30%;
}
.Newsletter{
    font-size: small;
}
.people{
    flex-direction: column;
}
.person{
    flex-direction: column;
}
.simple{
    font-size: small;
}
.simple1{
    font-size: small;
}
/* index1.html */
.headimages{
    flex-direction: column;
}
.gilgit{
    font-size: medium;
}
.paragraph1{
    font-size: medium;
}
.star{
    flex-direction: column;
}
.hoteldetails{
    flex-direction: column;
}
.food-facilities{
  font-size: small;
}
.foodd{
    font-size: small;
}
/* contact us */
.input-box{
    flex-direction: column;
}
.box-details{
    padding: 5px 8px;
    margin-right: 20%;
}
.message-details{
    padding: 20px 10px;
    margin-right: 20%;
}
.message-box{
    padding: 30px 10px;
    margin-right: 20%;
    
}
.table-content{
    margin-right: 10%;
}
/* about */
.hotel-story{
    flex-direction: column;
}
.hotel-vision{
    flex-direction: column;
}
.hotel-approach{
    flex-direction:column ;
}
input{
    padding: 10px 5px;
}
 } 



 

